:root {
  --prim-color: hsl(205, 50%, 20%);
  --sec-color: hsl(205, 50%, 80%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-color: var(--prim-color);
  font-family: sans-serif;
}

body {
}